@import "../../../variables";

.offices-add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.offices-add {
  margin-bottom: 20px;
  font-size: $font-size-lg;
  color: $text-color;
}

.offices-add-form {
  background-color: $card-bg;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: $font-weight-bold;
  color: $text-color;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid $input-border;
  border-radius: 4px;
  font-size: $font-size-base;
  background-color: $background-color;
}

input:focus,
select:focus {
  border-color: $primary-color;
  outline: none;
  background-color: #fff;
}

.submit-button {
  background-color: $primary-color;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: $font-size-base;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: $button-hover;
}

/* Стили для компонента all */
.offices-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
}

.offices-all-list {
  margin-bottom: 20px;
  // font-size: $font-size-lg;
  font-weight: 500;
  color: $text-color;
}

.offices-all-table {
  background-color: $card-bg;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid $border-color;
}

.table th {
  background-color: $primary-color;
  color: $card-bg;
}

.table tr:nth-child(even) {
  background-color: $breadcrumb-bg;
}

.table tr:hover {
  background-color: $table-hover;
}

.breadcrumbs {
  font-size: 14px;
  color: #555;
}

.breadcrumbs a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #333;
}
.d-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.d-row-left {
  display: flex;
}
.p-2 {
  padding: 2px 5px 2px 5px !important;
  font-size: $font-size-base;
  background-color: $primary-color;
  border: 0;
  border-radius: 2px;
}

.p-2:hover {
  background-color: $success-color;
  border: 0;
}
.navigation-underline {
  width: 100%;
  padding: 0;
  margin: 3px;
}

.btn-danger,
.btn-warning {
  padding: 3px 5px;

  border-radius: 2px;
  background-color: white;
  color: $primary-color;
  border: 0;
}
.btn-danger:hover {
  background-color: red;
}
