// General settings
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-light: #f8f9fa;
$text-color-dark: #343a40;

// Login Container
.login-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Login Card
.login-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  max-width: 1200px;
  height: 70%;
}

// Left Section - Login Form
.login-form {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-content {
    display: flex;
    flex-direction: column; // Ensure content inside is stacked vertically
    

    .form-header {
      display: flex;
      flex-direction: column;
      align-items: center; // Center the text
      gap: 30px; // Add gap between subtitle and title
      margin-bottom: 20px; // Add space below the header

      h4.form-subtitle {
        font-size: 1.47rem;
        margin-bottom: 10px;
        text-align: center;
        font-family: Rubik, Helvetica, Arial, serif;
        font-weight: 400;
        line-height: 1.2;
        color: #475F7B;
      }

      h1.form-title {
        font-size: 80%;
        margin-bottom: 20px;
        text-align: center;
        color: #828D99 !important;
      }
    }

    // Add padding to the .form-body
    .form-body {
      padding: 24px; // Add 20px padding as requested
    }

    .submit-button {
      background-color: $primary-color;
      border: none;
      border-radius: 8px;
      padding: 12px 15px;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      span {
        flex-grow: 1; // Make the label take available space
        text-align: center; // Center the label
      }

      svg {
        font-size: 1.2rem;
        margin-left: auto; // Push the arrow to the far right
      }
    }
  }
}

// Right Section - Login Image
.login-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
