$primary-color: #007bff;
$secondary-color: #f8f9fa;

.login-container {
  background: url('') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h4 {
  font-size: 1.25rem;
  color: #333;
}

.login-form h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.bg-image {
  background: url('') no-repeat center center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
