.logout {
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-self: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  color: var(--link-default);
  margin-left: -12px;
  margin-right: -12px;
  width: calc(100% + 24px);

  &-icon {
    display: flex;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
  }
  &:hover {
    background: var(--sidebar-link-active) !important;
    color: var(--text-color-secondary) !important;
  }
}
