@import "../../variables.scss";
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(255, 255, 255) !important;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  padding-left: 0px;
  border-left: 5px solid $primary-color;
  overflow-y: auto;
  overflow-x: hidden;
}
hr {
  margin: 3px 0;
}
.flex-column {
  flex-direction: column !important;
  padding-top: 5px;
  width: max-content;
  padding-bottom: 30px;
}
.ms-4 {
  color: $text-color !important;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ms-3 {
  margin-left: 1rem !important;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.text-white {
  color: $text-color !important;
}
.text-white-50 {
  --bs-text-opacity: 1;
  padding-top: 3px;
  color: $text-color-secondary !important;
}

.text-white-50:hover {
  background-color: #3f5e83;
  color: white !important;
  border-left: 5px solid $text-color-secondary;
  padding-left: 11px;
}
.text-white-75 {
  color: $text-color !important;
  text-decoration: none;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  padding: 2px 5px;
  text-transform: uppercase;
  transition: color 0.3s ease, text-decoration 0.3s ease-in-out;
  transition: letter-spacing 0.3s ease-in-out;

  &:hover {
    color: rgb(255, 255, 255) !important; // Or use a different color for hover
    background-color: #a09c9c;
    letter-spacing: 1px;
  }

  &:active {
    color: darken($primary-color, 10%);
  }

  &:focus {
    background-color: #d8dce0;
  }
}

.p-3 {
  padding: 0.5rem !important;
}
.breadcrumbs {
  font-size: 14px;
  color: #555;
}

.breadcrumbs a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #333;
}

@media (min-width: 992px) {
  .light {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: black;
    text-decoration: none;
    white-space: nowrap;
  }
}
