:root {
  /* Updated Color Palette */
  --primary-color: rgb(52 170 255);
  --success-color: #28a745;
  --success-color-hover: #1b5a29;
  --danger-color: #dc3545;
  --border-color: #babec2;
  --breadcrumb-bg: #ffffff;
  --card-bg: #ffffff;
  --table-hover: #f1f3f5;
  --input-border: #ced4da;
  --button-hover: mix(black, #3f5e83, 10%);
  --secondary-color: #dacc0d;
  --secondary-color-hover: #3f2e3f;

  /* Sidebar Colors */
  --sidebar-bg: var(--background-color);
  --sidebar-hover-bg: #2b314b; /* Slightly dark hover for sidebar */
  --sidebar-active-bg: var(--secondary-color-hover);
  --sidebar-link-active: #e2ecff;
  --link-default: var(--link-color);
  --link-hover: var(--link-color);
  --link-active: var(--primary-color);
  --divider-color: var(--border-color);
}

.sidebar {
  display: flex;
  border-right: 1px solid var(--border-default);
  padding: 0 12px;
  font-family: Rubik, Helvetica, Arial, serif !important;

  /* Collapsed Sidebar */
  .collapsed-sidebar {
    width: 80px;
    padding-top: 3.5rem;
  }

  /* Pop-Out Menu */
  .submenu-popout {
    top: 0;
    left: 65px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000;
    padding: 20px !important;
  }

  /* Submenu Links */
  .submenu-popout a {
    padding: 0.5rem;
    border-radius: 3px;
    color: var(--link-default) !important;
    text-decoration: none;
  }
  .submenu-popout a:hover {
    // color: var(--link-hover) !important;
  }

  /* Sidebar Links */
  .nav-link,
  .sidebar-link {
    color: var(--text-color-secondary) !important;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .sidebar-link {
    display: flex !important;
    gap: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    padding: 10px 20px !important;
    border-left: 1px solid var(--border-default);
    border-right: 1px solid var(--border-default);
    border-radius: 0;
    &:first-child {
      border-top: 1px solid var(--border-default);
    }

    &:last-child {
      border-bottom: 1px solid var(--border-default);
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }

    h4 {
      font-size: 15px !important;
      font-weight: 400;
      line-height: 1.4;
      margin: 0;
    }
  }

  .nav-link.active,
  .nav-link:hover {
    border: 1px solid var(--border-default);
    background: var(--white);
    border-radius: 5px;
  }

  .nav-link.active {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .sidebar-link.active {
    background: var(--sidebar-link-active) !important;
    border-radius: 5px;
    border-radius: 0;
    color: var(--link-color) !important;

    h4 {
      color: inherit !important;
    }
  }

  /* Active Section */
  .active + .collapse {
    background: var(--white);

    .sidebar-link:first-child {
      border-top: 1px solid #dfe3e7;
    }
  }

  /* Arrow Icon Rotation */
  .icon-rotate {
    transition: transform 0.3s ease;
  }
  .icon-rotate.rotate {
    transform: rotate(90deg);
  }

  /* Sidebar Titles */
  h4 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  /* Divider */
  .divider {
    border-top: 1px solid var(--divider-color) !important;
    margin: 1rem 0;
  }

  .active-section {
    color: var(--text-color) !important;
    touch-action: none;
    cursor: default;

    &:hover {
      color: var(--text-color) !important;
      background: transparent !important;
      border: none !important;
    }
  }

  .btn-close {
    filter: invert(1);
  }

  &-link {
    color: var(--link-default) !important;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;

    &:hover {
      // color: var(--link-hover) !important;
    }

    @media (max-width: 768px) {
      padding-left: 2.5em !important;
    }
  }

  &-content {
    padding-top: 1rem;
  }

  &-footer {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
  }

  .collapse-button {
    width: 32px !important;
    position: absolute;
    top: 20px;
    right: -22px;
    z-index: 3;
  }

  .submenu-title {
    color: var(--link-hover) !important;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem !important;
  }

  .bg-dark {
    background-color: var(--sidebar-bg) !important;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-secondary) !important;
    margin: 0;
    margin-top: 60px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-collapse-submenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .navbar-toggler-icon {
    filter: invert(1) !important;
  }

  .navbar-toggler {
    &:hover {
      background: none !important;
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    border: none;
    z-index: 5;
    padding: 0;
    margin: 0;
    left: 10px;
    top: 12px;

    .bg-dark {
      background-color: transparent !important;
      padding: 0;
    }

    .navbar-toggler {
      padding: 0;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &-bg {
    background-color: var(--background-color) !important;
  }
}

.offcanvas {
  .btn-close {
    color: var(--text-color-secondary) !important;
    // filter: invert(1) !important;
  }
  &-title {
    color: var(--text-color-secondary) !important;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .nav-link {
    color: var(--text-color-secondary) !important;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .active-section {
    color: var(--text-color) !important;
  }

  .sidebar-link {
    display: flex !important;
    gap: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    padding: 10px 20px !important;
    color: var(--text-color-secondary) !important;

    h4 {
      font-size: 1rem !important;
      font-weight: 400;
      line-height: 1.4;
      margin: 0;
    }
  }

  .sidebar-link.active {
    background: var(--sidebar-link-active) !important;
    border-radius: 5px;
    color: var(--link-color) !important;

    h4 {
      color: inherit !important;
    }
  }
}
