/* Общие стили */
.content {
  width: 100%;
}

.container-fluid {
  padding: 20px;
}

/* Стили для секций */
.visitors,
.offices,
.departments {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

button {
  font-size: 12px;
  margin-top: 0;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

.text-center {
  text-align: center;
}

.text-center button {
  margin-top: 20px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;

    padding: 2px;
  }
  button {
    color: grey;
    padding: 2px;
    background-color: white;
    border-bottom: 0;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: -5px;
    border-color: grey;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3));
  }
}
