@import 'bootstrap/dist/css/bootstrap.min.css';
@import '/src/variables.scss';

body {
  font-family: Rubik, Helvetica, Arial, serif !important;
  background-color: var(--background-color);
}

.app {
  display: flex;
  background-color: var(--background-color);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
  margin-left: 250px;

  &--full {
    margin-left: 80px;
  }
}


.content {
  padding: 0 20px;
  background-color: var(--background-color);
}

a {
  text-decoration: none !important;
}

.btn-primary,
.btn-danger,
.btn-warning {
  padding: 4px 6px;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--white) !important;

  a {
    color: var(--white) !important;

    &:hover {
      color: var(--white) !important;
    }
  }
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--hover-color) !important;

  &:hover {
    background-color: var(--hover-color) !important;
  }
}

.btn-danger {
  background-color: var(--red) !important;
  border: 1px solid var(--red20) !important;

  &:hover {
    background-color: var(--red20) !important;
  }
}

.error {
  color: var(--red);
}

input::placeholder {
  color: #888;
  opacity: 1;
}


input:focus::placeholder {
  color: #aaa;
}

input:focus {
  border-color: var(--primary-color);
  outline: none !important;
  box-shadow: none !important;
}


textarea::placeholder {
  color: #666;
}
