/* App.css */
.app {
  display: flex;
  height: 100vh; /* Full height */
}

.main {
  flex-grow: 1; /* Main content will take up remaining space */
  margin-left: 250px; /* Sidebar width */
  overflow-y: auto; /* Allow scroll if content overflows */
}

.content {
  padding: 20px;
}

/* Navbar/Sidebar styles */
