@import "/src/variables.scss";
.app {
  display: flex;
  height: 100vh; /* Full height */
}

.main {
  flex-grow: 1; /* Main content will take up remaining space */
  margin-left: 250px; /* Sidebar width */
  background-color: #f0f0f0;
  overflow-y: hidden; /* Allow scroll if content overflows */
  background-color: $background-color;

}

/* Navbar/Sidebar styles */
.content {
  padding: 0 20px;
  
}
