@import "/src/variables.scss";
.app {
  display: flex;
  height: 100vh; /* Full height */
  background-color: $background-color;
}

.main {
  flex-grow: 1; /* Main content will take up remaining space */
  // margin-left: 250px; /* Sidebar width */

  overflow-y: hidden; /* Allow scroll if content overflows */
  background-color: $context-bg-color;

}

/* Navbar/Sidebar styles */
.content {
  padding: 0 20px;
  background-color: $context-bg-color;

}
