:root {
  --white: #ffffff;
  --red: #ff2829;
  --red20: #ff5b5c;

  --primary-color: #5a8dee;
  --success-color: #28a745;
  --success-color-hover: #1b5a29;
  --danger-color: #dc3545;
  --error-color: #dc3545;
  --border-color: #babec2;
  --background-color: #f2f4f4;
  --secondary-color: #dacc0d;
  --secondary-color-hover: #3f2e3f;
  --text-color: #bac0c7;
  --text-color-secondary: #8494a7;
  --border-default: #dfe3e7;
  --hover-color: #2c6de9;
  --primary-hover: #e2ecff;

  --table-hover: #f1f3f5;
  --input-border: #ced4da;
  --button-hover: mix(black, #3f5e83, 10%);

  --link-color: var(--primary-color);
  --link-default: var(--primary-color);
  --link-hover: var(--primary-hover);
  --link-active: var(--primary-hover);
  --divider-color: var(--border-color);

  --breadcrumb-bg: var(--white);
  --card-bg: var(--white);

  --font-family: 'Roboto Flex', sans-serif;
  --font-color: #475f7b;
  --font-size-base: 1rem;
  --font-size-sm: 0.8rem;
  --font-size-lg: 1.25rem;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --line-height-base: 1.5;

  --sidebar-bg: var(--background-color);
  --sidebar-hover-bg: #2b314b;
  --sidebar-active-bg: var(--secondary-color-hover);
  --sidebar-link-active: var(--link-default);
}
