:root {
  //   --primary-color: #3f5e83;
  --success-color: #28a745;
  --success-color-hover: #1b5a29;
  --danger-color: #dc3545;
  --text-color: #bac0c7;
  --text-color-secondary: #8494a7;
  --link-color: #5a8dee;
  --white: #ffffff;
  --border-default: #dfe3e7;

  --background-color: #f2f4f4;
  --border-color: #babec2;
  --breadcrumb-bg: #ffffff;
  --card-bg: #ffffff;
  --table-hover: #f1f3f5;
  --input-border: #ced4da;
  // --button-hover: darken(--primary-color, 10%);
  --button-hover: mix(black, --primary-color, 10%);

  --secondary-color: #dacc0d;

  --font-family: "Roboto Flex", sans-serif;
  --font-size-base: 14px;
  --font-size-sm: 12px;
  --font-size-lg: 18px;
  --font-weight-normal: 300;
  --font-weight-normal-bold: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
  --form-background: #fff;
  --primary-color: #007bff;
  --hover-color: darken(--primary-color, 10%);
  --lighten-form-background: lighten(--form-background, 10%);
}
